@page
@model KaraokePortal.Pages.Singer.CreateModel

        @{
        ViewData["Title"] = "Create";
        }
        
<!-- Kirsty Chan 232093Z IT3682 -->
<h1>Create</h1>
        
    <h4>Singer</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Singer.LastName" class="control-label"></label>
                <input asp-for="Singer.LastName" class="form-control" />
                <span asp-validation-for="Singer.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Singer.FirstName" class="control-label"></label>
                <input asp-for="Singer.FirstName" class="form-control" />
                <span asp-validation-for="Singer.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Singer.JoinDate" class="control-label"></label>
                <input asp-for="Singer.JoinDate" class="form-control" type="date" />
                <span asp-validation-for="Singer.JoinDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
